@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1F1F1F;
    overflow-x: hidden;
}

.ionicon {
    width: 30px;
}

/* Typo */
h1, h2, h3, p, a {
    @apply text-white;
}

.title {
    @apply text-4xl md:text-6xl;
}


/* Menus */
header {
    @apply fixed top-0 right-0 left-0;
}

.nav-links {
    @apply flex py-5;
}

.nav-link {
    @apply ml-24;
}

.link-hover {
    @apply relative inline-block py-3 text-base text-lg;
}

.link-hover::after {
    @apply absolute w-0 bottom-0 left-0 bg-white;
    content: '';
    height: 3px;
    transition: all 0.2s ease-in-out;
}

.link-hover:hover::after {
    width: 45%;
}

.router-link-active.link-hover::after {
    width: 75% !important;
}


.social-links {
    @apply flex self-end absolute top-full;
}

.social-links li {
    @apply ml-14;
}


/* Home */
.intro {
    @apply flex flex-col justify-center;
    min-height: 100vh;
}

.intro-container {
    @apply flex flex-col justify-center relative;
}

.intro-article {
    @apply flex-col justify-between text-xl md:text-3xl text-white py-7;
    max-width: 80%;
}

.intro-article p {
    @apply py-7;
    line-height: 150%;
}


/* Scrolling text */
.scrolling-text-cache {
    @apply relative p-0 container m-auto pt-2;
}

.scrolling-text-cache::before,
.scrolling-text-cache::after {
    @apply absolute top-0 bottom-0 w-full;
    content: '';
    background-color: #1F1F1F;
    z-index: 1;
}

.scrolling-text-cache::before {
    left: 100%;
    transform: translateX(50%);
}

.scrolling-text-cache::after {
    right: 100%;
    transform: translateX(-50%);
}

.scrolling-text {
    @apply text-white uppercase mr-5 opacity-30 text-3xl md:text-6xl;
    font-weight: 900;
}

.scrolling-text.highlight {
    @apply opacity-100;
}

/* Projects */
.projects-list-container {
    @apply flex flex-col py-16 container m-auto;
}

.project-element {
    border-bottom: 1px solid white;
}

.project-element-container {
    @apply flex justify-between items-center md:items-start;
}

.project-element-recap {
    @apply pt-8 pb-4 flex-grow;
}

.project-element-link {
    @apply flex transition-all items-center uppercase pt-8 pb-4;
}

/* Responsives */

@screen md {
    .ionicon {
        width: 50px;
    }
}