@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Work+Sans:wght@300;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1F1F1F;
    overflow-x: hidden;
}

.ionicon {
    width: 30px;
}

.loading-screen {
    @apply fixed top-0 bottom-0 left-0 z-50 flex justify-center items-center text-center text-white w-full opacity-100 z-50;
    transition: all 0.4s ease-out;
    background-color: #1F1F1F;
}

.loading-screen.hidden {
    @apply opacity-0 z-0;
    transform: scale(0);
}

/* Typo */
* {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
}

h1, h2, h3, p, a {
    @apply text-white;
}

.title {
    @apply text-2xl md:text-4xl;
    font-weight: 500;
}


/* Menus */
header {
    @apply fixed top-0 right-0 left-0 z-10;
}

.nav-links {
    @apply flex py-5;
}

.nav-link:not(:first-of-type) {
    @apply ml-24;
}

.link-hover {
    @apply relative inline-block py-3 text-lg;
}

.link-hover::after {
    @apply absolute w-0 bottom-0 left-0 bg-white;
    content: '';
    height: 3px;
    transition: all 0.2s ease-in-out;
}

.link-hover:hover::after {
    width: 45%;
}

.router-link-active.link-hover::after {
    width: 75% !important;
}


.social-links {
    @apply flex self-end absolute top-full;
}

.social-links li {
    @apply ml-14;
}


/* Home */
.intro {
    @apply flex flex-col justify-center;
    min-height: 97vh;
}

.intro-container {
    min-height: 50vh;
    @apply flex flex-col justify-center;
}

.intro-article {
    @apply flex justify-between text-xl md:text-3xl text-white py-7 relative;
}

.intro-article-text {
    @apply z-10;
    width: 75%;
}

.intro-article-image {
    @apply absolute top-0 right-0 z-0 bg-cover bg-center;
    transform: translateY(-50%);
    width: 350px;
    height: 250px;
    background-size: cover;
    background-position: center;
}

.intro-article p {
    @apply py-7;
    line-height: 150%;
}

.intro-article p:last-of-type {
    @apply pb-0;
}


/* Scrolling text */
.scrolling-text-cache {
    @apply relative p-0 container m-auto mt-4 pt-2;
}

.scrolling-text-cache::before,
.scrolling-text-cache::after {
    @apply absolute top-0 bottom-0 w-full;
    content: '';
    background-color: #1F1F1F;
    z-index: 1;
}

.scrolling-text-cache::before {
    left: 100%;
    transform: translateX(50%);
}

.scrolling-text-cache::after {
    right: 100%;
    transform: translateX(-50%);
}

.scrolling-text {
    @apply text-white uppercase mr-5 opacity-30 text-3xl md:text-6xl;
    font-family: "Roboto", "Work Sans", sans-serif;
    font-weight: 900;
}

.scrolling-text.highlight {
    @apply opacity-100;
}

/* Projects */
.projects-list-container {
    @apply flex flex-col py-16 container m-auto;
}

.project-element {
    border-bottom: 1px solid white;
}

.project-element-container {
    @apply flex justify-between items-center md:items-start;
}

.project-element-recap {
    @apply pt-8 pb-4 flex-grow;
}

.project-element-link {
    @apply flex transition-all items-center uppercase pt-8 pb-4;
}

/* Gallery */
.gallery {
    @apply my-16 gap-x-8;
    column-count: 2;
}

.gallery-element {
    @apply mb-8;
}

.gallery-element-image {
    background-size: 100%;
    @apply w-full h-full bg-center bg-cover bg-no-repeat;
}

.gallery-subtitle {
    @apply mb-4 text-xl text-center;
}

/* Footer */
footer {
    @apply container m-auto flex flex-col justify-center text-white mb-16;
    min-height: 30vh;
}

.footer-container {
    @apply relative flex flex-col;
}

.footer-message {
    @apply text-right inline-block self-start ml-12 md:ml-24 pt-3 pb-16;
}

/* Responsive */
@screen md {
    .ionicon {
        width: 50px;
    }
}